<?xml version="1.0" encoding= "UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.winning.hmap.portal.auth.mapper.MedicalTeamLogMapper">

	<insert id="addSysMedGrpLog">
		insert into sys_med_grp_log(opter,med_grp,oprt_cont)values
		(#{opter},#{medGrp},#{oprtCont})
	</insert>

	<select id="queryLog" resultType="com.winning.hmap.portal.auth.entity.SysMedGrpLog">
		SELECT
		id,
		opter,
		oprt_time,
		med_grp,
		oprt_cont
		FROM
		sys_med_grp_log
		<where>
			<if test="paramObj != null">
				<if test="paramObj.medGrp != null and paramObj.medGrp !=''">
					med_grp like CONCAT('%',#{paramObj.medGrp},'%' )
				</if>
			</if>
		</where>
		ORDER BY oprt_time desc
	</select>

</mapper>