<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- mvc -->
    <import resource="classpath:config/web/mvc.xml"/>

    <!-- 数据源 -->
    <import resource="classpath:config/db/db.xml"/>



</beans>
